nav {
  .nav-link {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;

    font-style: none;

    color: #000000 !important;
  }

  .active {
    border-bottom: 4px solid #3f6190;
  }
}

#categories {
  .card {
    .card-img-overlay {
      background: linear-gradient(
        180deg,
        rgba(196, 196, 196, 0) 0%,
        rgba(129, 146, 170, 0.27) 50.52%,
        rgba(73, 105, 148, 0.6) 74.55%,
        rgba(63, 97, 144, 0.75) 100%
      );

      .card-title {
        color: white;
      }
    }
  }
}

section {
  header {
    background-image: url("/img/sec-head-bg.png");
    background-size: cover;
    height: 11rem;

    display: flex;
    align-items: center;

    h1 {
      font-family: Maragsa;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 60px;
      text-align: center;
      color: #3f6190;
    }
    button {
      height: fit-content;
    }
  }
}

.rating {
  * {
    align-items: center;
  }
  color: #fac404;
  .stars-dark {
    color: #c0c0c0b2;
  }
}
